.order-item{
    display: flex;
    margin-bottom: 30px;
}
.order-item_page{
    width: 200px;
    margin-right: 30px;
}
.order-item_title{
    font-size: 24px;
    font-weight: bold;
}
.order-item_price{
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
}